<HeadContent>
	<style>
		:root {
			--board-bg: yellow; 	/** the color of the board **/
			--player1: blue;		/** Player 1's piece color **/
			--player2: red;			/** Player 2's piece color **/
		}
	</style>
</HeadContent>

<div>
    <div class="board">
        @for (var i = 0; i < 42; i++)
        {
            <span class="container">
                <span></span>
            </span>
        }
    </div>
</div>